.container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      height: 2rem;
      background: var(--green-700);
      color: var(--white);
    }
  }

  .list {
    span {
      flex: 1;
      text-align: center;
    }

    .listItem {
      display: flex;
      justify-content: space-between;

      & + .item {
        margin-top: 0.5rem;
      }

      span:first-child {
        text-align: start;
      }

      .actions {
        font-size: 1rem;

        button {
          background: none;
          border: none;
        }
      }
    }

    .listHeader {
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--green-400);

      span {
        font-weight: bold;

        &.orderableItem {
          svg {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .list {
    .listItem {
      span:nth-child(3) {
        display: none;
      }
    }
  }
}

@media (max-width: 520px) {
  .header {
    button {
      span {
        display: none;
      }
    }
  }
  .list {
    .listItem {
      span:nth-child(2) {
        display: none;
      }
    }
  }
}

@media (max-width: 370px) {
  .header {
    .filter {
      display: none;
    }
  }
}

