.container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      height: 2rem;
      background: var(--green-700);
      color: var(--white);
    }
  }

  .list {
    .listHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;

      border-bottom: 1px solid var(--green-400);

      span {
        font-weight: bold;
        flex: 1;

        &.orderableItem {
          svg {
            cursor: pointer;
          }
        }
      }
    }

    .listItem {
      display: flex;
      justify-content: space-between;

      span {
        flex: 1;
      }

      & + .item {
        margin-top: 0.5rem;
      }

      .actions {
        font-size: 1rem;

        button {
          background: none;
          border: none;
        }
      }
    }
  }
}